@{
    ViewBag.Title = "Sent confirm email";
}

<div class="wrapper container">
    <div class="inner">
        <h2 class="text-center">
            Thank you for registed. We has sent confirm email.
        </h2>
        <h2 class="text-center">
            Please check your email and active your account by link inside.
        </h2>
        <div class="row">
            <div class="col-12 m-auto text-center">
                <a class="text-uppercase btn btn--radius btn-primary" asp-controller="home" asp-action="Index">Go TO Homepage</a>
            </div>
        </div>
    </div>
</div>
